@{
    ViewData["Title"] = "Finished - Language";
}
@await Html.PartialAsync("~/Views/Shared/LogoBanner.cshtml")
@await Html.PartialAsync("~/Views/Shared/FullscreenExempt.cshtml")
<h1 class="display-4">Finished - Thank You</h1>
<div class="orientationContainer rounded">
    <p>This study targets native English speakers. Your participation is complete.</p>
</div>
<p>@await Html.PartialAsync("~/Views/Shared/Mistake.cshtml")</p>
<p>@await Html.PartialAsync("~/Views/Shared/Close.cshtml")</p>