@model HomeConsentInfoViewModel
@{
    ViewData["Title"] = "Consent Info";
}

@await Html.PartialAsync("~/Views/Shared/LogoBanner.cshtml")

<div>
    <h1 class="display-4; text-center;">Informed Consent Information</h1>
    <br/>
    <p>Before agreeing to take part, please read this information sheet carefully 
        and let us know if anything is unclear or you would like further information.</p>
    <p>The study is designed to examine the effects of viewing images on learning and memory. 
        The study consists of a study and initial test phase, a 24-hour delayed testing phase, 
        and a 1-week delayed follow-up testing phase.  At the study and initial test session, you 
        will be asked to complete basic demographic questions as well as questionnaires pertaining 
        to your sleep habits. Following the questionnaires, you will be asked to view a series of images.  
        Memory for the images will be tested immediately following the study phase and you will be asked 
        to indicate whether the images presented in the test are old or new.  This session should last 
        no longer than an hour and half (1.5 hours).  24-hours after the study/initial test session, you 
        will be asked to complete another memory test.  This will follow the same procedure as the initial 
        test.  Again, you will be shown a set of images and asked to indicate whether they are old or new.  
        This is the final session and will be completed one week after the initial study and test phases.  
        You will receive a reminder the day before this session is scheduled to take place.  The final test 
        will follow the same procedure as the previous two tests.  You will be shown images and asked to 
        indicate whether they are old or new.</p>

    <h2 class="display-4">Participant Requirements</h2>
    <br/>
    <p>To enhance the chances of the study being successful we need to record good quality data. We ask therefore that you be attentive and follow instructions carefully throughout the study period. This important for good data collection.
    You need to fulfil certain requirements to be able to participate in this study:<br/>
    <br/>
    YOU MUST: <br/>
    * Be a highly reliable individual and be willing to fully commit to the experiment schedule. <br/>
    * Be between 18 and 65 years old. <br/>
    * Have normal or corrected-to-normal vision (with glasses or contacts). <br/>
    * Have a regular sleep/wake pattern, where you typically rise by 8am each morning after at least 6 hours of sleep. <br/>
    * Be a native speaker of English (i.e. English is your first language spoken to you from birth). This is not the same as being fluent in English. Non-native English speakers will not be able to take part. <br/>
    <br/>
    YOU MUST NOT: <br/>
    * Have any history of drug, alcohol or solvent abuse. <br/>
    * Have any history of neurological, psychiatric or sleep disorders.<br/>
    * Have any history of attentional difficulties (e.g. ADHD). <br/>
    * Have ever had a serious head injury. <br/>
    * Have a job that involves alternating shift patterns (i.e. day shifts and night shifts). <br/>
    * Have any history of special visual characteristics (e.g., colour blindness or astigmatism). <br/>
    * Be a smoker. 
    </p>
    <br/>
    <h3 class="display-4">Do I have to take part?</h3>
        <p>No, participation is optional. If you change your mind at any point during the study, you will be able to 
            withdraw your participation without having to provide a reason.  Please contact the researchers 
            if you would like to withdraw.</p>
    <br/>
    <h4 class="display-4">Anonymised Data</h4>
    <p>Anonymised study data will be made publicly available via an online data repository (i.e. Open Science Framework). 
        As such, your data may be re-used and analysed by anyone in the world. We and others may also present your data 
        at conferences and scientific journal articles. Data used in any of these capacities will be completely anonymous. 
        Your study data will be anonymised soon after you have completed the study. No identifiable information will be 
        retained with your data. It is important to understand that once anonymization has taken place, you will be unable 
        to withdraw your study data.</p>
    <br/>
    <h4 class="display-4">Questions or Concerns</h4>
    <p>If you have any questions about this participant information sheet or concerns about how your data is being processed, 
        please contact the researcher, Emily Madden at <a href="mailto:evm517@york.ac.uk">evm517@york.ac.uk</a>, or the principal investigators, Karla K Evans or 
        Scott Cairney, in the first instance via email: <a href="mailto:karla.evans@york.ac.uk">karla.evans@york.ac.uk</a> or <a href="mailto:scott.cairney@york.ac.uk">scott.cairney@york.ac.uk</a>. If you are still 
        dissatisfied, please contact the University’s Acting Data Protection Officer at <a href="mailto:dataprotection@york.ac.uk">dataprotection@york.ac.uk</a>. <br/>
        <br/>
        This study has been approved by the Research Ethics Committee of the Department of Psychology at the University of York.</p>
        <br/>
    <p>If you wish to take part in the study, please click the button below to view the informed consent form and to continue.</p>
</div>
<div id="formDiv">
    <form action="@Url.Action("ConsentAgreed", "Home")" method="POST"> 
        <input type="hidden" name="participantID" value="@Model.ParticipantID" />
        <div style="text-align: right;">
            <input style="margin-right: 50px;" type="submit" value="Next"/>
        </div>
    </form>
</div>