@model HomeConsentInfoViewModel
@{
    ViewData["Title"] = "Consent Info";
}

@await Html.PartialAsync("~/Views/Shared/LogoBanner.cshtml")

<div>
    <h1 class="display-4">Informed Consent Information</h1>
    <div class="orientationContainer rounded">
        <p>Before agreeing to take part, please read this information sheet carefully 
            and let us know if anything is unclear or you would like further information.</p>
    </div>
    <h2 class="display-5">Participant Requirements</h2>
    <p>To enhance the chances of the study being successful we need to record good quality data. We ask therefore that you be attentive and follow instructions carefully throughout the study period. This is important for good data collection.
    You need to fulfil certain requirements to be able to participate in this study:</p>
    <div id="mustMustNotContainer">
        <h4 class="display-6">YOU MUST:</h4>
        <ul>
            <li>Be a highly reliable individual and be willing to fully commit to the experiment schedule.</li>
            <li>Be between 18 and 30 years old.</li>
            <li>Have normal or corrected-to-normal vision (with glasses or contacts).</li>
            <li>Have a regular sleep/wake pattern, where you typically rise by 8am each morning after at least 6 hours of sleep.</li>
            @if (Model.ShowLanguageRequirement) {
                <li>Be a native speaker of English (i.e. English is your first language spoken to you from birth). This is not the same as being fluent in English. Non-native English speakers will not be able to take part.</li>
            }
        </ul>
        <h4 class="display-6">YOU MUST NOT:</h4>
        <ul>
            <li>Have any history of drug, alcohol or solvent abuse.</li>
            <li>Have any history of neurological, psychiatric or sleep disorders.</li>
            <li>Have any history of attentional difficulties (e.g. ADHD).</li>
            <li>Have ever had a serious head injury.</li>
            <li>Have a job that involves alternating shift patterns (i.e. day shifts and night shifts).</li>
            <li>Have any history of special visual characteristics (e.g., colour blindness or astigmatism).</li>
        </ul>
    </div>
    <h3 class="display-5">Do I have to take part?</h3>
        <p>No, participation is optional. If you change your mind at any point during the study, you will be able to 
            withdraw your participation without having to provide a reason.  Please contact the researchers 
            if you would like to withdraw.</p>
    <h4 class="display-5">Anonymised Data</h4>
    <p>Anonymised study data will be made publicly available via an online data repository (i.e. Open Science Framework). 
        As such, your data may be re-used and analysed by anyone in the world. We and others may also present your data 
        at conferences and scientific journal articles. Data used in any of these capacities will be completely anonymous. 
        Your study data will be anonymised soon after you have completed the study. No identifiable information will be 
        retained with your data. It is important to understand that once anonymisation has taken place, you will be unable 
        to withdraw your study data.</p>
    <h4 class="display-5">Questions or Concerns</h4>
    <p>If you have any questions about this participant information sheet or concerns about how your data is being processed, 
        please contact the researcher, Emily Madden at @await Html.PartialAsync("~/Views/Shared/ResearcherEmailLink.cshtml"), or the principal investigators, 
        Karla K Evans (<a href="mailto:karla.evans@york.ac.uk">karla.evans@york.ac.uk</a>) or 
        Scott Cairney (<a href="mailto:scott.cairney@york.ac.uk">scott.cairney@york.ac.uk</a>), in the first instance via email. 
        If you are still dissatisfied, please contact the University’s Acting Data Protection Officer at 
        <a href="mailto:dataprotection@york.ac.uk">dataprotection@york.ac.uk</a>.</p>
    <p>This study has been approved by the Research Ethics Committee of the Department of Psychology at the University of York.</p>
    <p>If you wish to take part in the study, please click the "Next" button below to view the informed consent form and to continue.</p>
</div>
<div id="formDiv">
    <form action="@Url.Action("ConsentForm", "Home")" method="POST"> 
        <input type="hidden" name="participantID" value="@Model.ParticipantID" />
        @await Html.PartialAsync("~/Views/Shared/ActionBar.cshtml", new ActionBarViewModel("Next"))
    </form>
</div>