@{
    ViewData["Title"] = "Contact";
}

@await Html.PartialAsync("~/Views/Shared/LogoBanner.cshtml")
@await Html.PartialAsync("~/Views/Shared/FullscreenExempt.cshtml")

<div>
    <h1 class="display-4">Contact</h1>
    <p><p>If you have any questions about this study or encounter any problems, please contact the researcher 
        Emily Madden at @await Html.PartialAsync("~/Views/Shared/ResearcherEmailLink.cshtml").
        </p></p>
</div>