@model DemographicsViewModel
@{
    ViewData["Title"] = "Home Page";
}
@Model.Consent
<div class="text-right">
    <div style="background-color: Darkcyan;">  
        <img src="/img/Logo.png" style="width:200px;height:100px;"/> <!-- https://www.york.ac.uk/staff/external-relations/brand/logo/ -->
    </div>
</div>

<div class="text-align: left">
    <h1 class="display-4; text-center;">Demographics</h1>
    <br/>
 <form action="/Home/PSQI">
     <fieldset>
         <legend>Before we get started, we would like to know some basic demographic information.</legend>
         <div>
            <label for="pID">Participant ID:</label><br>
            <input type="number" id="pID" name="pID" required><br>
        </div>
        <br>
        <div>
            <label for="sex">Sex:</label><br>
            <input type="radio" id="male" name="sex" value="male">
            <label for="male">Male</label><br>
            <input type="radio" id="female" name="sex" value="female">
            <label for="female">Female</label><br>
            <input type="radio" id="other" name="sex" value="other">
            <label for="other">Other</label>
        </div>
        <br>
        <div>
            <label for="age">Age:</label><br>
            <input type="number" id="age" name="age"><br>
        </div>
        <br>
        <div>
            <label for="year">Year of study (if you are not a student, put your highest degree awarded; e.g., "Master's Awarded"):</label><br>
            <input type="text" id="year" name="year"><br>
        </div>
        <br>
        <div>
            <label for="course">Course of study/major:</label><br>
            <input type="text" id="course" name="course"><br>
        </div>
        <br>        
        <div>
            <label for="hand">Right or Left handed:</label><br>
            <input type="radio" id="Right" name="hand" value="Right">
            <label for="Right">Right</label><br>
            <input type="radio" id="Left" name="hand" value="Left">
            <label for="Left">Left</label><br>
        </div>
        <br>
        <div>
            <label for="impairments">Do you have hearing, vision or speech impairments?</label><br>
            <input type="radio" id="yes" name="impairments" value="yes">
            <label for="yes">Yes</label><br>
            <input type="radio" id="no" name="impairments" value="no">
            <label for="no">No</label><br>
        </div>
        <br>
        <div>
            <label for="glasses">Do you wear glasses or contacts?</label><br>
            <input type="radio" id="yes" name="glasses" value="yes">
            <label for="yes">Yes</label><br>
            <input type="radio" id="no" name="glasses" value="no">
            <label for="no">No</label><br>
        </div>
        <br>
        <div>
            <label for="language">What is your native language?<br>
            Please write the language your parents spoke to you as a child.</label><br>
            <input type="text" id="language" name="language"><br>
        </div>
        <br>
        <div>
            <label for="bilingual">Please list any other languages you speak fluently.</label><br>
            <input type="text" id="bilingual" name="bilingual"><br>
        </div>
        <br>
        <div>
            <label for="currentcountry">In what country do you currently live?</label><br>
            <input type="text" id="currentcountry" name="currentcountry"><br>
        </div>
        <br>
        <div>
            <label for="birthcountry">In what country did you spend the majority of your first 10 years?</label><br>
            <input type="text" id="birthcountry" name="birthcountry"><br>
        </div>
        <br>
        <br>
        <div>
            <label for="bed">What time did you go to bed last night? (please enter in 24-hour format; e.g. 2100)</label><br>
            <input type="number" id="bed" name="bed"><br>
        </div>
        <div>
            <label for="wake">What time did you wake up this morning? (please enter in 24-hour format: e.g., 0700</label><br>
            <input type="number" id="wake" name="wake"><br>
        </div>
        <div>
            <label for="latency">Amount of time taken to fall asleep (mins):</label><br>
            <input type="number" id="latency" name="latency"><br>
        </div>
        <div>
            <label for="TST">Total hours of sleep:</label><br>
            <input type="text" id="wake" name="wake"><br>
        </div>
        <div style="text-align: right;">
            <input style="margin-right: 50px;" type="submit" value="Next"/>
        </div>                              
  </fieldset>
</form>
</div>

