@model EncodingInstructionsViewModel;
@{
    ViewData["Title"] = "Encoding Instructions";
}

@await Html.PartialAsync("~/Views/Home/LogoBanner.cshtml")

<div>
    <h1 class="display-4; text-center;">Part 1 Instructions</h1>
    <br/>
    <p>This is the STUDY PHASE.</p>
    <p>You will see 432 images with 288 marked objects.  Please pay attention and try to memorize only the marked objects in the scene.  
        Each image will be presented for 3 seconds.  Throughout the STUDY phase, numbers will randomly appear on the screen.
        Any time you see a number, press the SPACE bar.</p>
        <br/>
    <p>Press the "Next" button to start the Study Phase.</p>
</div>
<div id="formDiv">
    <form action="@Url.Action("Index", "Encoding")" method="POST">
        <input type="hidden" name="participantID" value="@Model.ParticipantID" />
        <div style="text-align: right;">
            <input style="margin-right: 50px;" type="submit" value="Next"/>
        </div>
    </form>
</div>