@{
    ViewData["Title"] = "Home";
}

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var buttons = document.getElementsByClassName('firstPageButton');
        for (var i=0;i<buttons.length; i++) {
            buttons[i].addEventListener('click', function(){
                var button = this;
                var url = button.getAttribute('data-url');
                location.href = url;
            });
        }
    });
</script>

@await Html.PartialAsync("~/Views/Shared/LogoMasthead.cshtml")
<div class="text-center">
    <h1 class="display-4">@await Html.PartialAsync("~/Views/Shared/StudyTitle.cshtml")</h1>
    <br/>
    <p>If this is your first session, please select New Participant.<br/>
    If you are returning to continue the study, please choose Returning Participant.</p>
</div>

<div id="buttonsRow" class="row">
    <div class="col-md firstPageButton" data-url="@Url.Action("Welcome")">
        <div>New Participant</div>
    </div>
    <div class="col-md firstPageButton" data-url="@Url.Action("WelcomeBack")">
        <div>Returning Participant</div>
    </div>
</div>