@{
    ViewData["Title"] = "Learn More";
}

@await Html.PartialAsync("~/Views/Shared/LogoMasthead.cshtml")
<div>
    <p>For more information about the research labs involved in the project or about how data is handled in accordance with the United Kingdom's GDPR
    guidelines, please follow the links below.</p>
    <p><a href="https://ccpl.hosted.york.ac.uk/">Complex Cognitive Processes Lab</a></p>
    <p><a href="https://www.york.ac.uk/psychology/research/facilities/slam/">Seep, Language and Memory Lab</a></p>
    <p><a href="https://www.epoc-lab.com/">Emotion Processing and Consolidation Lab</a></p>
    <p><a href="https://wiki.york.ac.uk/display/PsySharedDocs/Key+information+about+GDPR">Data Protection in Psycology Research at the University of York</a></p>
</div>