@{
    ViewData["Title"] = "Previously Interrupted";
}

@await Html.PartialAsync("~/Views/Shared/LogoBanner.cshtml")
@await Html.PartialAsync("~/Views/Shared/FullscreenExempt.cshtml")
<div>
    <h1 class="display-4">Interrupted</h1>
    <div class="orientationContainer rounded">
        Your study phase was previously interrupted.
    </div>
    <p>Please contact the researcher (@await Html.PartialAsync("~/Views/Shared/TroubleshooterEmailLink.cshtml")) for further guidance.</p>
    <p>@await Html.PartialAsync("~/Views/Shared/Mistake.cshtml")</p>
    <p>@await Html.PartialAsync("~/Views/Shared/Close.cshtml")</p>
</div>