@{
    ViewData["Title"] = "Home Page";
}

<div class="text-right">
    <div style="background-color: Darkcyan;">  
        <img src="/img/Logo.png" style="width:200px;height:100px;"/> <!-- https://www.york.ac.uk/staff/external-relations/brand/logo/ -->
    </div>
</div>

<div class="text-align: left">
    <h1 class="display-4; text-center;">Pittsburgh Sleep Quality Index</h1>
    <br/>
 <form action="/Home/Epworth">
     <fieldset>
         <legend>The following questions relate to your usual sleep habits during the past month only. 
            Your answers should include the most accurate reply for the majority of days and nights in the past month. 
            Please answer all questions.<br/>
            <br/>
            Reminder: Please respond in 24-hour time (e.g., 0700 or 2100)</legend>
            <br/>
         <div>
            <label for="1">1. During the past month, when have you usually gone to bed at night?</label><br/>
            <input type="number" id="1" name="1"><br/>
        </div>
        <br/>
        <div>
            <label for="2">2. During the past month, how long (in minutes) has it usually taken you to fall asleep each night?</label><br/>
            <input type="number" id="2" name="2"><br/>
        </div>
        <br/>
        <div>
            <label for="3">3. During the past month, when have you usually gotten up in the morning?</label><br/>
            <input type="number" id="3" name="3"><br/>
        </div>
        <br/>
        <div>
            <label for="4">4. During the past month, how many hours of actual sleep did you get at night on average? 
                (e.g., 7 hours, 20 minutes) This may be different than the number of hours spent in bed. </label>
            <label for="4hours">Hours:</label>
            <input type="number" id="4hours" name="4hours">
            <label for="4mins">Minutes:</label>
            <input type="number" id="4mins" name="4mins">
        </div>
        <br/>
        <br/>                                         
      <legend>For each of the remaining questions, check the one best response. Please answer all questions.<br/>
      During the past month, how often have you had trouble sleeping because you...</legend>
        <div>
          <label for="q5">5. Cannot get to sleep within 30 minutes.</label><br/>
          <input type="radio" id="q5.never" name="q5" value="never">
          <label for="q5.never">Never during the last month</label>
          <input type="radio" id="q5.lessthan" name="q5" value="lessthan">
          <label for="q5.lessthan">Less than once a week</label>
          <input type="radio" id="q5.week" name="q5" value="week">
          <label for="q5">Once or twice a week</label>  
          <input type="radio" id="q5.morethan" name="q5" value="morethan">
          <label for="q5">3 or more times a week</label><br/>                                 
        </div>
        <br/>
        <div>
          <label for="q6">6. Wake up in the middle of the night or early morning.</label><br/>
          <input type="radio" id="q6.never" name="q6" value="never">
          <label for="q6.never">Never during the last month</label>
          <input type="radio" id="q6.lessthan" name="q6" value="lessthan">
          <label for="q6.lessthan">Less than once a week</label>
          <input type="radio" id="q6.week" name="q6" value="week">
          <label for="q6">Once or twice a week</label>  
          <input type="radio" id="q6.morethan" name="q6" value="morethan">
          <label for="q6">3 or more times a week</label><br/>                                 
        </div>
        <br/> 
        <div>
          <label for="q7">7. Have to get up to use the bathroom.</label><br/>
          <input type="radio" id="q7.never" name="q7" value="never">
          <label for="q7.never">Never during the last month</label>
          <input type="radio" id="q7.lessthan" name="q7" value="lessthan">
          <label for="q7.lessthan">Less than once a week</label>
          <input type="radio" id="q7.week" name="q7" value="week">
          <label for="q7">Once or twice a week</label>  
          <input type="radio" id="q7.morethan" name="q7" value="morethan">
          <label for="q7">3 or more times a week</label><br/>                                 
        </div>
        <br/>
        <div>
          <label for="q8">8. Cannot breathe comfortably.</label><br/>
          <input type="radio" id="q8.never" name="q8" value="never">
          <label for="q8.never">Never during the last month</label>
          <input type="radio" id="q8.lessthan" name="q8" value="lessthan">
          <label for="q8.lessthan">Less than once a week</label>
          <input type="radio" id="q8.week" name="q8" value="week">
          <label for="q8">Once or twice a week</label>  
          <input type="radio" id="q8.morethan" name="q8" value="morethan">
          <label for="q8">3 or more times a week</label><br/>                                 
        </div>
        <br/>
        <div>
          <label for="q9">9. Cough or snore loudly.</label><br/>
          <input type="radio" id="q9.never" name="q9" value="never">
          <label for="q9.never">Never during the last month</label>
          <input type="radio" id="q9.lessthan" name="q9" value="lessthan">
          <label for="q9.lessthan">Less than once a week</label>
          <input type="radio" id="q9.week" name="q9" value="week">
          <label for="q9">Once or twice a week</label>  
          <input type="radio" id="q9.morethan" name="q9" value="morethan">
          <label for="q9">3 or more times a week</label><br/>                                 
        </div>
        <br/>
        <div>
          <label for="q10">10. Feel too hot.</label><br/>
          <input type="radio" id="q10.never" name="q10" value="never">
          <label for="q10.never">Never during the last month</label>
          <input type="radio" id="q10.lessthan" name="q10" value="lessthan">
          <label for="q10.lessthan">Less than once a week</label>
          <input type="radio" id="q10.week" name="q10" value="week">
          <label for="q10">Once or twice a week</label>  
          <input type="radio" id="q10.morethan" name="q10" value="morethan">
          <label for="q10">3 or more times a week</label><br/>                                 
        </div>
        <br/>     
        <div>
          <label for="q11">11. Feel too cold.</label><br/>
          <input type="radio" id="q11.never" name="q11" value="never">
          <label for="q11.never">Never during the last month</label>
          <input type="radio" id="q11.lessthan" name="q11" value="lessthan">
          <label for="q11.lessthan">Less than once a week</label>
          <input type="radio" id="q11.week" name="q11" value="week">
          <label for="q11">Once or twice a week</label>  
          <input type="radio" id="q11.morethan" name="q11" value="morethan">
          <label for="q11">3 or more times a week</label><br/>                                 
        </div>
        <br/>
        <div>
          <label for="q12">12. Had bad dreams.</label><br/>
          <input type="radio" id="q12.never" name="q12" value="never">
          <label for="q12.never">Never during the last month</label>
          <input type="radio" id="q12.lessthan" name="q12" value="lessthan">
          <label for="q12.lessthan">Less than once a week</label>
          <input type="radio" id="q12.week" name="q12" value="week">
          <label for="q12">Once or twice a week</label>  
          <input type="radio" id="q12.morethan" name="q12" value="morethan">
          <label for="q12">3 or more times a week</label><br/>                                 
        </div>
        <br/> 
        <div>
          <label for="q13">13. Have pain.</label><br/>
          <input type="radio" id="q13.never" name="q13" value="never">
          <label for="q13.never">Never during the last month</label>
          <input type="radio" id="q13.lessthan" name="q13" value="lessthan">
          <label for="q13.lessthan">Less than once a week</label>
          <input type="radio" id="q13.week" name="q13" value="week">
          <label for="q13">Once or twice a week</label>  
          <input type="radio" id="q13.morethan" name="q13" value="morethan">
          <label for="q13">3 or more times a week</label><br/>                                 
        </div>
        <br/>
        <div>
          <label for="q14">14. Other reason(s).</label><br/>
          <input type="radio" id="q14.never" name="q14" value="never">
          <label for="q14.never">Never during the last month</label>
          <input type="radio" id="q14.lessthan" name="q14" value="lessthan">
          <label for="q14.lessthan">Less than once a week</label>
          <input type="radio" id="q14.week" name="q14" value="week">
          <label for="q14">Once or twice a week</label>  
          <input type="radio" id="q14.morethan" name="q14" value="morethan">
          <label for="q14">3 or more times a week</label><br/>
          <label for="14b">If other, please describe:</label>
          <input type="text" id="14b" name="14b">                                 
        </div>
        <br/>                              
        <div>
          <label for="q15">15. During the past month, how would you rate your sleep quality overall?</label><br/>
          <input type="radio" id="q15.vgood" name="q15" value="vgood">
          <label for="q15.vgood">Very Good</label>
          <input type="radio" id="q15.fgood" name="q15" value="fgood">
          <label for="q15.fgood">Fairly Good</label>
          <input type="radio" id="q15.fbad" name="q15" value="fbad">
          <label for="q15">Fairly Bad</label>  
          <input type="radio" id="q15.vbad" name="q15" value="vbad">
          <label for="q15">Very bad</label><br/>                                 
        </div>
        <br/>
        <div>
          <label for="q16">6. During the past month, how often have you taken medicine (prescribed 
                  or "over the counter") to help you sleep?</label><br/>
          <input type="radio" id="q16.never" name="q16" value="never">
          <label for="q16.never">Never during the last month</label>
          <input type="radio" id="q16.lessthan" name="q16" value="lessthan">
          <label for="q16.lessthan">Less than once a week</label>
          <input type="radio" id="q16.week" name="q16" value="week">
          <label for="q16">Once or twice a week</label>  
          <input type="radio" id="q16.morethan" name="q16" value="morethan">
          <label for="q16">3 or more times a week</label><br/>                                 
        </div>
        <br/> 
        <div>
          <label for="q17">17. During the past month, how often have you had trouble staying awake
                  while driving, eating meals, or engaging in social activity?</label><br/>
          <input type="radio" id="q17.never" name="q17" value="never">
          <label for="q17.never">Never during the last month</label>
          <input type="radio" id="q17.lessthan" name="q17" value="lessthan">
          <label for="q17.lessthan">Less than once a week</label>
          <input type="radio" id="q17.week" name="q17" value="week">
          <label for="q17">Once or twice a week</label>  
          <input type="radio" id="q17.morethan" name="q17" value="morethan">
          <label for="q17">3 or more times a week</label><br/>                                 
        </div>
        <br/> 
        <div>
          <label for="q18">18. During the past month, how much of a problem has it been for you 
                  to keep up enough enthusiasm to get things done?</label><br/>
          <input type="radio" id="q18.not" name="q18" value="not">
          <label for="q18.not">No problem at all.</label>
          <input type="radio" id="q18.slight" name="q18" value="slight">
          <label for="q18.lessthan">Only a slight problem.</label>
          <input type="radio" id="q18.somewhat" name="q18" value="somewhat">
          <label for="q18">Somewhat of a problem.</label>  
          <input type="radio" id="q18.big" name="q18" value="vbig">
          <label for="q18">A very big problem.</label><br/>                                 
        </div>
        <br/>
        <div>
          <label for="q19">19. Do you have a bed partner or roommate? (If the answer is no, do not 
                  finish question #20 and simply click next).</label><br/>
          <input type="radio" id="q19.nopart" name="q19" value="nopart">
          <label for="q19.nopart">No bed partner or roommate.</label>
          <input type="radio" id="q19.other" name="q19" value="other">
          <label for="q19.other">Partner/roommate in other room.</label>
          <input type="radio" id="q19.same" name="q19" value="same">
          <label for="q19">Partner/roommate in same room.</label>  
          <input type="radio" id="q19.bed" name="q19" value="bed">
          <label for="q19">Partner in same bed.</label><br/>                                 
        </div>
        <br/>                                
        <legend>20. If you have a roommate or bed partner, how often would they say that YOU 
                  have done each of the following in the past month?<br></legend>
          <div>
              <label for="20a">a. Loud snoring</label><br/>
              <input type="radio" id="20a.never" name="20a" value="never">
              <label for="20a.never">Never during the last month</label>
              <input type="radio" id="20a.lessthan" name="20a" value="lessthan">
              <label for="20a.lessthan">Less than once a week</label>
              <input type="radio" id="20a.week" name="20a" value="week">
              <label for="20a.week">Once or twice a week</label>  
              <input type="radio" id="20a.morethan" name="20a" value="morethan">
              <label for="20a.morethan">3 or more times a week</label><br/>                                 
          </div>
          <br/>
          <div>
              <label for="20b">b. Long pauses between breaths while asleep</label><br/>
              <input type="radio" id="20b.never" name="20b" value="never">
              <label for="20b.never">Never during the last month</label>
              <input type="radio" id="20b.lessthan" name="20b" value="lessthan">
              <label for="20b.lessthan">Less than once a week</label>
              <input type="radio" id="20b.week" name="20b" value="week">
              <label for="20b.week">Once or twice a week</label>  
              <input type="radio" id="20b.morethan" name="20b" value="morethan">
              <label for="20b.morethan">3 or more times a week</label><br/>                                 
          </div>
          <br/>
          <div>
              <label for="20c">c. Legs twitching or jerking while you sleep</label><br/>
              <input type="radio" id="20c.never" name="20c" value="never">
              <label for="20c.never">Never during the last month</label>
              <input type="radio" id="20c.lessthan" name="20c" value="lessthan">
              <label for="20c.lessthan">Less than once a week</label>
              <input type="radio" id="20c.week" name="20c" value="week">
              <label for="20c.week">Once or twice a week</label>  
              <input type="radio" id="20c.morethan" name="20c" value="morethan">
              <label for="20c.morethan">3 or more times a week</label><br/>                                 
          </div>
          <br/>
          <div>
              <label>d. Episodes of disorientation or confusion during sleep</label><br/>
              <input type="radio" id="20d.never" name="20d" value="never">
              <label for="20d.never">Never during the last month</label>
              <input type="radio" id="20d.lessthan" name="20d" value="lessthan">
              <label for="20d.lessthan">Less than once a week</label>
              <input type="radio" id="20d.week" name="20d" value="week">
              <label for="20d.week">Once or twice a week</label>  
              <input type="radio" id="20d.morethan" name="20d" value="morethan">
              <label for="20d.morethan">3 or more times a week</label><br/>                                 
          </div>
          <br/>
          <div>
              <label for="20e">e. Other restlessness while you sleep</label><br/>
              <input type="radio" id="20e.never" name="20e" value="never">
              <label for="20e.never">Never during the last month</label>
              <input type="radio" id="20e.lessthan" name="20e" value="lessthan">
              <label for="20e.lessthan">Less than once a week</label>
              <input type="radio" id="20e.week" name="20e" value="week">
              <label for="20e.week">Once or twice a week</label>  
              <input type="radio" id="20e.morethan" name="20e" value="morethan">
              <label for="20e.morethan">3 or more times a week</label><br/>                                 
              <label for="20e">If other, please describe:</label>
              <input type="text" id="20e" name="20e"><br/>
          </div>        
          <br/>                                                                 
  </fieldset>
      <div style="text-align: right;">
          <input style="margin-right: 50px;" type="submit" value="Next"/>
      </div>
</form>
</div>