@{
    ViewData["Title"] = "Home Page";
}

<div class="text-right">
    <div style="background-color: Darkcyan;">  
        <img src="/img/Logo.png" style="width:200px;height:100px;"/> <!-- https://www.york.ac.uk/staff/external-relations/brand/logo/ -->
    </div>
</div>

<div class="text-align: left">
    <h1 class="display-4; text-center;">Pittsburgh Sleep Quality Index</h1>
    <br/>
 <form>
     <fieldset>
         <legend>The following questions relate to your usual sleep habits during the past month only. 
            Your answers should include the most accurate reply for the majority of days and nights in the past month. 
            Please answer all questions.<br>
            <br/>
            Reminder: Please respond in 24-hour time (e.g., 0700 or 2100)</legend>
            <br/>
         <div>
            <label for="1">1. During the past month, when have you usually gone to bed at night?</label><br>
            <input type="number" id="1" name="1"><br>
        </div>
        <br>
        <div>
            <label for="2">2. During the past month, how long (in minutes) has it usually taken you to fall asleep each night?</label><br>
            <input type="number" id="2" name="2"><br>
        </div>
        <br>
        <div>
            <label for="3">3. During the past month, when have you usually gotten up in the morning?</label><br>
            <input type="number" id="3" name="3"><br>
        </div>
        <br>
        <div>
            <label for="4">4. During the past month, how many hours of actual sleep did you get at night on average? 
                (e.g., 7 hours, 20 minutes) This may be different than the number of hours spent in bed. </label>
            <label for="4hours">Hours:</label>
            <input type="number" id="4hours" name="4hours">
            <label for="4mins">Minutes:</label>
            <input type="number" id="4mins" name="4mins">
        </div>
        <br>
    </fieldset>
</form>
</div>
<form>&#13;
      <table class="table-calculator  js-table-calculator" data-results-explainer-id="epworth-calculator-results"><thead><tr><th scope="col">For each of the remaining questions, check the one best response. Please answer all questions.<br>
          During the past month, how often have you had trouble sleeping because you...</th>&#13;
          <th scope="col">Frequency (0 = Never, 3 = 3 or more times per week)</th>&#13;
        </tr></thead><tbody><tr><td><label for="q1">5. Cannot get to sleep within 30 minutes.</label></td>&#13;
          <td>&#13;
            <select class="js-table-calculator-select" id="q1"><option selected="selected" disabled="disabled">Frequency:</option><option value="0">0 (Never during the last month)</option><option value="1">1 (Less than once a week)</option><option value="2">2 (Once or twice a week)</option><option value="3">3 (3 or more times a week)</option></select></td>&#13;
        </tr><tr><td><label for="q2">6. Wake up in the middle of the night or early morning.</label></td>&#13;
          <td>&#13;
            <select class="js-table-calculator-select" id="q2"><option selected="selected" disabled="disabled">Frequency:</option><option value="0">0 (Never during the last month)</option><option value="1">1 (Less than once a week)</option><option value="2">2 (Once or twice a week)</option><option value="3">3 (3 or more times a week)</option></select></td>&#13;
        </tr><tr><td><label for="q3">7. Have to get up to use the bathroom.</label></td>&#13;
          <td>&#13;
            <select class="js-table-calculator-select" id="q3"><option selected="selected" disabled="disabled">Frequency:</option><option value="0">0 (Never during the last month)</option><option value="1">1 (Less than once a week)</option><option value="2">2 (Once or twice a week)</option><option value="3">3 (3 or more times a week)</option></select></td>&#13;
        </tr><tr><td><label for="q4">8. Cannot breathe comfortably.</label></td>&#13;
          <td>&#13;
            <select class="js-table-calculator-select" id="q4"><option selected="selected" disabled="disabled">Frequency:</option><option value="0">0 (Never during the last month)</option><option value="1">1 (Less than once a week)</option><option value="2">2 (Once or twice a week)</option><option value="3">3 (3 or more times a week)</option></select></td>&#13;
        </tr><tr><td><label for="q5">9. Cough or snore loudly.</label></td>&#13;
          <td>&#13;
            <select class="js-table-calculator-select" id="q5"><option selected="selected" disabled="disabled">Frequency:</option><option value="0">0 (Never during the last month)</option><option value="1">1 (Less than once a week)</option><option value="2">2 (Once or twice a week)</option><option value="3">3 (3 or more times a week)</option></select></td>&#13;
        </tr><tr><td><label for="q6">10. Feel too hot.</label></td>&#13;
          <td>&#13;
            <select class="js-table-calculator-select" id="q6"><option selected="selected" disabled="disabled">Frequency:</option><option value="0">0 (Never during the last month)</option><option value="1">1 (Less than once a week)</option><option value="2">2 (Once or twice a week)</option><option value="3">3 (3 or more times a week)</option></select></td>&#13;
        </tr><tr><td><label for="q7">11. Feel too cold.</label></td>&#13;
          <td>&#13;
            <select class="js-table-calculator-select" id="q7"><option selected="selected" disabled="disabled">Frequency:</option><option value="0">0 (Never during the last month)</option><option value="1">1 (Less than once a week)</option><option value="2">2 (Once or twice a week)</option><option value="3">3 (3 or more times a week)</option></select></td>&#13;
        </tr><tr><td><label for="q8">12. Had bad dreams.</label></td>&#13;
          <td>&#13;
            <select class="js-table-calculator-select" id="q8"><option selected="selected" disabled="disabled">Frequency:</option><option value="0">0 (Never during the last month)</option><option value="1">1 (Less than once a week)</option><option value="2">2 (Once or twice a week)</option><option value="3">3 (3 or more times a week)</option></select></td>&#13;
          <td>&#13;
        </tr><tr><td><label for="q7">13. Have pain.</label></td>&#13;              
          <td>&#13; 
            <select class="js-table-calculator-select" id="q6"><option selected="selected" disabled="disabled">Frequency:</option><option value="0">0 (Never during the last month)</option><option value="1">1 (Less than once a week)</option><option value="2">2 (Once or twice a week)</option><option value="3">3 (3 or more times a week)</option></select></td>&#13;
        </tr><tr><td><label for="q7">14. Other reason(s).</label></td>&#13;
           <td>&#13;  
            <select class="js-table-calculator-select" id="q6"><option selected="selected" disabled="disabled">Frequency:</option><option value="0">0 (Never during the last month)</option><option value="1">1 (Less than once a week)</option><option value="2">2 (Once or twice a week)</option><option value="3">3 (3 or more times a week)</option></select></td>&#13;
        </tr>
        <tr><td>
            <label for="14b">If other, please describe:</label></td>
            <td><input type="text" id="14b" name="14b">
        </td></tr>

        <tr><th scope="col">For each of the remaining questions, check the one best response. Please answer all questions.<br></th>
          <th scope="col">Please read the response choices carefully.</th>
        </tr></thead><tbody><tr><td><label for="q1">15. During the past month, how would you rate your sleep quality overall?</label></td>&#13;
          <td>&#13;
            <select class="js-table-calculator-select" id="q1"><option selected="selected" disabled="disabled">Quality:</option><option value="0">0 (Very Good)</option><option value="1">1 (Fairly Good)</option><option value="2">2 (Fairly Bad)</option><option value="3">3 (Very Bad)</option></select></td>&#13;
        </tr><tr><td><label for="q2">16. During the past month, how often have you taken medicine (prescribed 
                or "over the counter") to help you sleep?</label></td>&#13;
          <td>&#13;
            <select class="js-table-calculator-select" id="q2"><option selected="selected" disabled="disabled">Frequency:</option><option value="0">0 (Never during the last month)</option><option value="1">1 (Less than once a week)</option><option value="2">2 (Once or twice a week)</option><option value="3">3 (3 or more times a week)</option></select></td>&#13;
        </tr><tr><td><label for="q3">17. During the past month, how often have you had trouble staying awake
                 while driving, eating meals, or engaging in social activity?</label></td>&#13;
          <td>&#13;
            <select class="js-table-calculator-select" id="q3"><option selected="selected" disabled="disabled">Frequency:</option><option value="0">0 (Never during the last month)</option><option value="1">1 (Less than once a week)</option><option value="2">2 (Once or twice a week)</option><option value="3">3 (3 or more times a week)</option></select></td>&#13;
        </tr><tr><td><label for="q4">18. During the past month, how much of a problem has it been for you 
                to keep up enough enthusiasm to get things done?</label></td>&#13;
          <td>&#13;
            <select class="js-table-calculator-select" id="q4"><option selected="selected" disabled="disabled">Amount:</option><option value="0">0 (No problem at all)</option><option value="1">1 (Only a very slight problem)</option><option value="2">2 (Somewhat of a problem)</option><option value="3">3 (A very big problem)</option></select></td>&#13;
        </tr><tr><td><label for="q5">19. Do you have a bed partner or roommate? (If the answer is no, do not 
                finish question #20 and simply click next).</label></td>&#13;
          <td>
            <select class="js-table-calculator-select" id="q4"><option selected="selected" disabled="disabled">Partner:</option><option value="0">0 (No problem at all)</option><option value="1">1 (Only a very slight problem)</option><option value="2">2 (Somewhat of a problem)</option><option value="3">3 (A very big problem)</option></select></td>
        </tr></tfoot></table></form>


 <form>
        <br>                                         
         <legend>20. If you have a roommate or bed partner, how often would they say that YOU 
                have done each of the following in the past month?<br></legend>
        <div>
            <label for="20a">a. Loud snoring</label><br>
            <input type="radio" id="20a.never" name="never" value="never">
            <label for="20a.never">Never during the last month</label>
            <input type="radio" id="20a.lessthan" name="lessthan" value="lessthan">
            <label for="20a.lessthan">Less than once a week</label>
            <input type="radio" id="20a.week" name="week" value="week">
            <label for="20a.week">Once or twice a week</label>  
            <input type="radio" id="20a.morethan" name="morethan" value="morethan">
            <label for="20a.morethan">3 or more times a week</label><br>                                 
        </div>
        <br>
        <div>
            <label for="20b">b. Long pauses between breaths while asleep</label><br>
            <input type="radio" id="20b.never" name="never" value="never">
            <label for="20b.never">Never during the last month</label>
            <input type="radio" id="20b.lessthan" name="lessthan" value="lessthan">
            <label for="20b.lessthan">Less than once a week</label>
            <input type="radio" id="20b.week" name="week" value="week">
            <label for="20b.week">Once or twice a week</label>  
            <input type="radio" id="20b.morethan" name="morethan" value="morethan">
            <label for="20b.morethan">3 or more times a week</label><br>                                 
        </div>
        <br>
        <div>
            <label for="20c">c. Legs twitching or jerking while you sleep</label><br>
            <input type="radio" id="20c.never" name="never" value="never">
            <label for="20c.never">Never during the last month</label>
            <input type="radio" id="20c.lessthan" name="lessthan" value="lessthan">
            <label for="20c.lessthan">Less than once a week</label>
            <input type="radio" id="20c.week" name="week" value="week">
            <label for="20c.week">Once or twice a week</label>  
            <input type="radio" id="20c.morethan" name="morethan" value="morethan">
            <label for="20c.morethan">3 or more times a week</label><br>                                 
        </div>
        <br>
        <div>
            <label for="20d">d. Episodes of disorientation or confusion during sleep</label><br>
            <input type="radio" id="20d.never" name="never" value="never">
            <label for="20d.never">Never during the last month</label>
            <input type="radio" id="20d.lessthan" name="lessthan" value="lessthan">
            <label for="20d.lessthan">Less than once a week</label>
            <input type="radio" id="20d.week" name="week" value="week">
            <label for="20d.week">Once or twice a week</label>  
            <input type="radio" id="20d.morethan" name="morethan" value="morethan">
            <label for="20d.morethan">3 or more times a week</label><br>                                 
        </div>
        <br>
        <div>
            <label for="20e">e. Other restlessness while you sleep</label><br>
            <input type="radio" id="20e.never" name="never" value="never">
            <label for="20e.never">Never during the last month</label>
            <input type="radio" id="20e.lessthan" name="lessthan" value="lessthan">
            <label for="20e.lessthan">Less than once a week</label>
            <input type="radio" id="20e.week" name="week" value="week">
            <label for="20e.week">Once or twice a week</label>  
            <input type="radio" id="20e.morethan" name="morethan" value="morethan">
            <label for="20e.morethan">3 or more times a week</label><br>                                 
        </div>
        <div>
            <label for="14b">If other, please describe:</label>
            <input type="text" id="14b" name="14b"><br>
        </div>        
        <br>                                                                 
  </fieldset>
</form>


<div id="formDiv">
    <form action="/Home/Epworth"> 
        <div style="text-align: right;">
            <input style="margin-right: 50px;" type="submit" value="Next"/>
        </div>
    </form>
</div>