@{
    ViewData["Title"] = "Home Page";
}

<div class="text-right">
    <div style="background-color: Darkcyan;">  
        <img src="/img/Logo.png" style="width:200px;height:100px;"/> <!-- https://www.york.ac.uk/staff/external-relations/brand/logo/ -->
    </div>
</div>

<div class="text-align: left">
    <h1 class="display-4; text-center;">Pittsburgh Sleep Quality Index</h1>
    <br/>
 <form>
     <fieldset>
         <legend>The following questions relate to your usual sleep habits during the past month only. 
            Your answers should include the most accurate reply for the majority of days and nights in the past month. 
            Please answer all questions.<br>
            <br/>
            Reminder: Please respond in 24-hour time (e.g., 0700 or 2100)</legend>
            <br/>
         <div>
            <label for="1">1. During the past month, when have you usually gone to bed at night?</label><br>
            <input type="number" id="1" name="1"><br>
        </div>
        <br>
        <div>
            <label for="2">2. During the past month, how long (in minutes) has it usually taken you to fall asleep each night?</label><br>
            <input type="number" id="2" name="2"><br>
        </div>
        <br>
        <div>
            <label for="3">3. During the past month, when have you usually gotten up in the morning?</label><br>
            <input type="number" id="3" name="3"><br>
        </div>
        <br>
        <div>
            <label for="4">4. During the past month, how many hours of actual sleep did you get at night on average? 
                (e.g., 7 hours, 20 minutes) This may be different than the number of hours spent in bed. </label>
            <label for="4hours">Hours:</label>
            <input type="number" id="4hours" name="4hours">
            <label for="4mins">Minutes:</label>
            <input type="number" id="4mins" name="4mins">
        </div>
        <br>
    </fieldset>
</form>
</div>

 <form>
     <fieldset data-role="controlgroup" data-type="horizontal" data-role="fieldcontain">
         <legend>For each of the remaining questions, check the one best response. Please answer all questions.<br>
            During the past month, how often have you had trouble sleeping because you...</legend>
        <div>
            <label for="5">Cannot get to sleep within 30 minutes.</label><br>
            <input type="radio" id="5.never" name="never" value="never">
            <label for="5.never">Never during the last month</label>
            <input type="radio" id="5.lessthan" name="lessthan" value="lessthan">
            <label for="5.lessthan">Less than once a week</label>
            <input type="radio" id="5.week" name="week" value="week">
            <label for="5.week">Once or twice a week</label>  
            <input type="radio" id="5.morethan" name="morethan" value="morethan">
            <label for="5.morethan">3 or more times a week</label><br>                                 
        </div>
        <br>        
        <div>
            <label for="6">Wake up in the middle of the night or early morning.</label><br>
            <input type="radio" id="6.never" name="never" value="never">
            <label for="6.never">Never during the last month</label>
            <input type="radio" id="6.lessthan" name="lessthan" value="lessthan">
            <label for="6.lessthan">Less than once a week</label>
            <input type="radio" id="6.week" name="week" value="week">
            <label for="6.week">Once or twice a week</label>  
            <input type="radio" id="6.morethan" name="morethan" value="morethan">
            <label for="6.morethan">3 or more times a week</label><br> 
        </div>
        <br>
        <div>
            <label for="7">Have to get up to use the bathroom.</label><br>
            <input type="radio" id="7.never" name="never" value="never">
            <label for="7.never">Never during the last month</label>
            <input type="radio" id="7.lessthan" name="lessthan" value="lessthan">
            <label for="7.lessthan">Less than once a week</label>
            <input type="radio" id="7.week" name="week" value="week">
            <label for="7.week">Once or twice a week</label>  
            <input type="radio" id="7.morethan" name="morethan" value="morethan">
            <label for="7.morethan">3 or more times a week</label><br> 
        </div>
        <br>
        <div>
            <label for="8">Cannot breathe comfortably.</label><br>
            <input type="radio" id="8.never" name="never" value="never">
            <label for="8.never">Never during the last month</label>
            <input type="radio" id="8.lessthan" name="lessthan" value="lessthan">
            <label for="8.lessthan">Less than once a week</label>
            <input type="radio" id="8.week" name="week" value="week">
            <label for="8.week">Once or twice a week</label>  
            <input type="radio" id="8.morethan" name="morethan" value="morethan">
            <label for="8.morethan">3 or more times a week</label><br>
        </div>
        <br>
        <div>
            <label for="9">Cough or snore loudly.</label><br>
            <input type="radio" id="9.never" name="never" value="never">
            <label for="9.never">Never during the last month</label>
            <input type="radio" id="9.lessthan" name="lessthan" value="lessthan">
            <label for="9.lessthan">Less than once a week</label>
            <input type="radio" id="9.week" name="week" value="week">
            <label for="9.week">Once or twice a week</label>  
            <input type="radio" id="9.morethan" name="morethan" value="morethan">
            <label for="9.morethan">3 or more times a week</label><br>
        </div>
        <br>
        <div>
            <label for="10">Feel too hot.</label><br>
            <input type="radio" id="10.never" name="never" value="never">
            <label for="10.never">Never during the last month</label>
            <input type="radio" id="10.lessthan" name="lessthan" value="lessthan">
            <label for="10.lessthan">Less than once a week</label>
            <input type="radio" id="10.week" name="week" value="week">
            <label for="10.week">Once or twice a week</label>  
            <input type="radio" id="10.morethan" name="morethan" value="morethan">
            <label for="10.morethan">3 or more times a week</label><br>
        </div>
        <br>
        <div>
            <label for="11">Feel too cold.</label><br>
            <input type="radio" id="11.never" name="never" value="never">
            <label for="11.never">Never during the last month</label>
            <input type="radio" id="11.lessthan" name="lessthan" value="lessthan">
            <label for="11.lessthan">Less than once a week</label>
            <input type="radio" id="11.week" name="week" value="week">
            <label for="11.week">Once or twice a week</label>  
            <input type="radio" id="11.morethan" name="morethan" value="morethan">
            <label for="11.morethan">3 or more times a week</label><br>
        </div>
        <br>
        <div>
            <label for="12">Had bad dreams.</label><br>
            <input type="radio" id="12.never" name="never" value="never">
            <label for="12.never">Never during the last month</label>
            <input type="radio" id="12.lessthan" name="lessthan" value="lessthan">
            <label for="12.lessthan">Less than once a week</label>
            <input type="radio" id="12.week" name="week" value="week">
            <label for="12.week">Once or twice a week</label>  
            <input type="radio" id="12.morethan" name="morethan" value="morethan">
            <label for="12.morethan">3 or more times a week</label><br>
        </div>
        <br>
        <div>
            <label for="13">Have pain.</label><br>
            <input type="radio" id="13.never" name="never" value="never">
            <label for="13.never">Never during the last month</label>
            <input type="radio" id="13.lessthan" name="lessthan" value="lessthan">
            <label for="13.lessthan">Less than once a week</label>
            <input type="radio" id="13.week" name="week" value="week">
            <label for="13.week">Once or twice a week</label>  
            <input type="radio" id="13.morethan" name="morethan" value="morethan">
            <label for="13.morethan">3 or more times a week</label><br>
        </div>
        <br>
        <div>
            <label for="14">Other reason(s).</label><br>
            <input type="radio" id="14.never" name="never" value="never">
            <label for="14.never">Never during the last month</label>
            <input type="radio" id="14.lessthan" name="lessthan" value="lessthan">
            <label for="14.lessthan">Less than once a week</label>
            <input type="radio" id="14.week" name="week" value="week">
            <label for="14.week">Once or twice a week</label>  
            <input type="radio" id="14.morethan" name="morethan" value="morethan">
            <label for="14.morethan">3 or more times a week</label><br>
        </div>
        <div>
            <label for="14b">If other, please describe:</label>
            <input type="text" id="14b" name="14b"><br>
        </div>
        <br>
        <div>
            <label for="TST">Total hours of sleep:</label><br>
            <input type="text" id="wake" name="wake"><br>
        </div>                              
  </fieldset>
</form>
</div>

<div id="formDiv">
    <form action="/Home/Demographics"> 
        <div style="text-align: right;">
            <input style="margin-right: 50px;" type="submit" value="Next"/>
        </div>
    </form>
</div>