@model SDCode.Web.Models.StanfordViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-right">
    <div style="background-color: Darkcyan;">  
        <img src="/img/Logo.png" style="width:200px;height:100px;"/> <!-- https://www.york.ac.uk/staff/external-relations/brand/logo/ -->
    </div>
</div>

<div class="text-align: left">
    <h1 class="display-4; text-center;">Stanford Sleepiness Scale</h1>
    <br/>
 <form action="/Home/EncodingInstructions">
    <input type="hidden" name="participantID" value="@Model.ParticipantID" />
     <fieldset>
         <legend>This is a quick way to assess how alert you are feeling CURRENTLY.<br/>
            <br/>
            Please select the option that best describes how sleepy you are feeling right now.</legend>
            <br/>
         <div>
            <input type="radio" id="1" name="stanford" value="1">
            <label for="1">Feeling active, vital, alert, or wide awake</label><br/>
            <input type="radio" id="2" name="stanford" value="2">
            <label for="2">Functioning at high levels, but not at peak; able to concentrate</label><br/>
            <input type="radio" id="3" name="stanford" value="3">            
            <label for="3">Awake, but relaxed; responsive but not fully alert</label><br/>
            <input type="radio" id="4" name="stanford" value="4">
            <label for="4">Somewhat foggy, let down</label><br/> 
            <input type="radio" id="5" name="stanford" value="5">
            <label for="5">Foggy; losing interest in remaining awake; slowed down</label><br/>
            <input type="radio" id="6" name="stanford" value="6">
            <label for="6">Sleepy, woozy, fighting sleep; prefer to lie down</label><br/>
            <input type="radio" id="7" name="stanford" value="7">
            <label for="7">No longer fighting sleep, sleep onset soon; having dream-like thoughts</label><br/>                                
        </div>       
        <br/>
        <div style="text-align: right;">
            <input style="margin-right: 50px;" type="submit" value="Next"/>
        </div>                                                                 
  </fieldset>
</form>
</div>