@model HomeWelcomeViewModel
@{
    ViewData["Title"] = "Welcome";
}

@await Html.PartialAsync("~/Views/Shared/LogoMasthead.cshtml")
<div class="text-center">
    <h1 class="display-4">@await Html.PartialAsync("~/Views/Shared/StudyTitle.cshtml")</h1>
    <br/>
</div>

<div class="text-left">
    <div class="questionsOrientationContainer">
        <p>Welcome, and thank you for your interest in our study.</p>
        <p>In this experiment, we are looking at memory for objects within scenes.</p>
    </div>
    <div>
        <p>There are four (4) parts to this experiment:  a study phase and three (3) testing phases.  
        In the study phase, you will see a series of images.  In the test phases,
        you will be asked to indicate whether the image being shown is old or new.</p>
        <p>Please note, this study requires participation across MULTIPLE days (today's session, one session tomorrow, 
        and one final session 1-week from today).  Each session should last roughly one (1) hour. 
        Please only agree to take part if you are prepared to fully commit to all of the 
        experimental sessions.</p>
        <p>If you wish to take part in the study, please click the button below to view the informed consent form and to continue.</p>
        <p>The study is designed to examine the effects of viewing images on learning and memory. 
            The study consists of a study and initial test phase, a 24-hour delayed testing phase, 
            and a 1-week delayed follow-up testing phase.  At the study and initial test session, you 
            will be asked to complete basic demographic questions as well as questionnaires pertaining 
            to your sleep habits. Following the questionnaires, you will be asked to view a series of images.  
            Memory for the images will be tested immediately following the study phase and you will be asked 
            to indicate whether the images presented in the test are old or new.  This session should last 
            no longer than an hour and half (1.5 hours).  24-hours after the study/initial test session, you 
            will be asked to complete another memory test.  This will follow the same procedure as the initial 
            test.  Again, you will be shown a set of images and asked to indicate whether they are old or new.  
            This is the final session and will be completed one week after the initial study and test phases.  
            You will receive a reminder the day before this session is scheduled to take place.  The final test 
            will follow the same procedure as the previous two tests.  You will be shown images and asked to 
            indicate whether they are old or new.</p>
    </div>
</div>

<div id="formDiv">
    <form action="@Url.Action("ConsentInfo", "Home")" method="POST">
        <input type="hidden" name="participantID" value="@Model.ParticipantID" />
        @await Html.PartialAsync("~/Views/Shared/ActionBar.cshtml", new ActionBarViewModel("Next"))
    </form>
</div>