@{
    ViewData["Title"] = "Welcome Back";
}

<div class="text-center">
    <div style="background-color: Darkcyan;">  
        <img src="/img/Logo.png"style="width:300px;height:150px;"/> <!-- https://www.york.ac.uk/staff/external-relations/brand/logo/ -->
    </div>
</div>
<div class="text-center">
    <h1 class="display-4">Welcome back to the Sleep and Decontextualization Study</h1>
</div>
<br/>
<div class="text-align: left">
    <p>In this session, we will be testing your memory of the images you saw in the STUDY PHASE.
        This testing session will follow the same format as the previous one.  
    <br/>
    <br/>
    First, you will be asked to rate your CURRENT sleepiness.  Then, like before, you will see 144 images.
        Your task is to indicate whether each image is "old" or "new".  You will also be asked to rate how confident you are in each response
        on a scale of 1 to 4 with 1 being "Not very confident" and 4 being "Very confident". 
        <br/>
        <br/>
        If an image is OLD, please press the RIGHT ARROW key.
        <br/>
        If an image is NEW, please press the LEFT ARROW key.
        <br/>
        Please use the respective 1-4 number keys at the TOP of your keyboard for the confidence ratings.
        <br/>
        <br/>
        This session is mostly self-paced.  The next image will automatically be presented after the confidence rating is provided.
        Please pay attention and answer as accurately as possible.
    </p>
        <br/>
    <p>Please enter your Participant ID in the box and press the "Next" button to rate your sleepiness and start the next TEST PHASE.</p>
    </p>
</div>

<div>
    <div>Returning User</div>
    <form action="@Url.Action("WelcomeBack", "Test")" method="POST">
        <div>Participant ID: <input type="text" name="participantID" /></div>
        <div style="text-align: right;">
            <input style="margin-right: 50px;" type="submit" value="GOTO_TEST_TEXT_PLACEHOLDER"/>
        </div>
    </form>
</div>