@model HomeWelcomeBackViewModel
@{
    ViewData["Title"] = "Welcome Back";
}

@await Html.PartialAsync("~/Views/Shared/LogoMasthead.cshtml")
<div class="text-center">
    <h1 class="display-4">@await Html.PartialAsync("~/Views/Shared/StudyTitle.cshtml")</h1>
</div>
<div class="orientationContainer">
    <p>In this session, we will be testing your memory of the images you saw in the STUDY PHASE.
        This testing session will follow the same format as the previous one.</p>
    <p>First, you will be asked to rate your CURRENT sleepiness.  Then, like before, you will see 144 images.</p>
</div>
<div>
    @await Html.PartialAsync("~/Views/Shared/TestInstructions.cshtml")
</div>
<div>
    <p>Press the "Next" button to rate your sleepiness and start the next TEST PHASE.</p>
    <form action="@Url.Action("WelcomeBack", "Test")" method="POST">
        <input type="hidden" name="participantID" value="@Model.ParticipantID" />
        @await Html.PartialAsync("~/Views/Shared/ActionBar.cshtml", new ActionBarViewModel("Next"))
    </form>
</div>