<div id="deviceTooSmallContainer" class="deviceTooSmallContainer">
    <div><p>@await Component.InvokeAsync("StudyTitle")</p></div>
    <p>Please use a full-size<br/>desktop browser to<br/>access the study.</p>
    <p>Researcher: @await Html.PartialAsync("~/Views/Shared/TroubleshooterEmailLink.cshtml")</p>
</div>
@* Don't copy this HTML to other files. Instead, re-use this HTML in other files, with this syntax:

@await Html.PartialAsync("~/Views/Shared/DeviceTooSmall.cshtml", new ActionBarViewModel("Next"))

*@