<div class="deviceTooSmallContainer">
    <div><p>@await Html.PartialAsync("~/Views/Shared/StudyTitle.cshtml")</p></div>
    <p>Please use a full-size<br/>desktop browser to<br/>access the study.</p>
    <p>Researcher: <a href="mailto:evm517@york.ac.uk">evm517@york.ac.uk</a></p>
</div>