<div class="deviceTooSmallContainer">
    <div><p>@await Html.PartialAsync("~/Views/Shared/StudyTitle.cshtml")</p></div>
    <p>Please use a full-size<br/>desktop browser to<br/>access the study.</p>
    <p>Researcher: @await Html.PartialAsync("~/Views/Shared/ResearcherEmailLink.cshtml")</p>
</div>