Place your browser into full-screen mode (in the <span class="menuHighlight">⋮</span> menu, choose <span class="menuHighlight">⛶</span>).
@* Don't copy this HTML to other files. Instead, re-use this HTML in other files, with this syntax:

@await Html.PartialAsync("~/Views/Shared/FullscreenInstructions.cshtml", new ActionBarViewModel("Next"))

*@