<span data-fullscreenexempt></span>
@* Don't copy this HTML to other files. Instead, re-use this HTML in other files, with this syntax:

@await Html.PartialAsync("~/Views/Shared/FullscreenExempt.cshtml", new ActionBarViewModel("Next"))

*@