<div class="logoContainer rounded-bottom" style="height: 160px;">
    <table style="float: left;">
        <tr>
            <td><img src="/img/logos/ComplexCognativeProcessesLab.png" style="width: 105px; height: 105px;"/></td>
        </tr>
        <tr>
            <td style="font-size: 11pt; color: white; text-align: center;">Complex Cognitive<br/>Processes Lab</td>
        </tr>
    </table>
    <img src="/img/logos/SleepLanguageAndMemory.png" style="float: left; width: 141px; height: 150px;"/>
    <img src="/img/logos/UniversityOfYork.png" style="float: right; width: 391px; height: 150px;"/> @* https://www.york.ac.uk/staff/external-relations/brand/logo/ *@
</div>
@* Don't copy this HTML to other files. Instead, re-use this HTML in other files, with this syntax:

@await Html.PartialAsync("~/Views/Shared/LogoMasthead.cshtml")

*@