<div class="logoContainer" style="height: 110px;">
    <table style="float: left;">
        <tr>
            <td><img src="/img/logos/ComplexCognativeProcessesLab.png" style="width: 65px; height: 65px;"/></td>
        </tr>
        <tr>
            <td style="font-size: 8pt; color: white; text-align: center;">Complex Cognitive<br/>Processes Lab</td>
        </tr>
    </table>
    <img src="/img/logos/SleepLanguageAndMemory.png" style="float: left; width: 94px; height: 100px;"/>
    <img src="/img/logos/UniversityOfYork.png" style="float: right; width: 261px; height: 100px;"/> @* https://www.york.ac.uk/staff/external-relations/brand/logo/ *@
</div>
@* Don't copy this HTML to other files. Instead, re-use this HTML in other files, with this syntax:

@await Html.PartialAsync("~/Views/Shared/LogoBanner.cshtml")

*@