<a href="mailto:evm517@york.ac.uk">evm517@york.ac.uk</a>@* 

Don't copy this title to other files. Instead, re-use this in other files, with this syntax:

@await Html.PartialAsync("~/Views/Shared/ResearcherEmailLink.cshtml")

*@