<fieldset>
    <legend><label for="bed">What time did you go to bed last night?</label></legend>
    <div class="form-group">
        <input type="number" class="form-control" style="width: 90px" id="bed" name="bed">
        <small class="form-text text-muted">Please enter in 24-hour format (e.g. 2100).</small>
    </div>
</fieldset>
<fieldset>
    <legend><label for="wake">What time did you wake up this morning?</label></legend>
    <div class="form-group">
        <input type="number" class="form-control" style="width: 90px" id="wake" name="wake">
        <small class="form-text text-muted">Please enter in 24-hour format (e.g. 0700).</small>
    </div>
</fieldset>
<fieldset>
    <legend><label for="latency">Amount of time taken to fall asleep (mins)</label></legend>
    <div class="form-group">
        <input type="number" class="form-control" style="width: 75px" id="latency" name="latency">
        <small class="form-text text-muted">Please enter minutes taken to fall asleep.</small>
    </div>
</fieldset>
<fieldset>
    <legend><label for="latency">Total hours of sleep</label></legend>
    <div class="form-group">
        <input type="text" class="form-control" style="width: 75px" id="TST" name="tst" data-lpignore="true">
    </div>
</fieldset>