<p>
    Your task is to indicate whether each image is "old" or "new".  You will also be asked to rate how confident you are in each response
    on a scale of 1 to 4 with 1 being "Not very confident" and 4 being "Very confident". 
</p>
<div class="keysContainer">
    <div class="row keysRow">
        <div class="col-md-2"><img src="/img/keys/LeftArrow.webp"></div>
        <div class="col-md-2"><img src="/img/keys/RightArrow.webp"></div>
        <div class="col-md-2"><img src="/img/keys/1.webp"></div>
        <div class="col-md-2"><img src="/img/keys/2.webp"></div>
        <div class="col-md-2"><img src="/img/keys/3.webp"></div>
        <div class="col-md-2"><img src="/img/keys/4.webp"></div>
    </div>
    <div class="row keysRow">
        <div class="col-md-2">Old</div> @* todo mlh use/show Enum values *@
        <div class="col-md-2">New</div>
        <div class="col-md-2">Not<br/>Confident</div>
        <div class="col-md-2">Somewhat<br/>Confident</div>
        <div class="col-md-2">Confident</div>
        <div class="col-md-2">Very<br/>Confident</div>
    </div>    
</div>
<p>
    This session is mostly self-paced.  The next image will automatically be presented after the confidence rating is provided.
    Please pay attention and answer as accurately as possible.    
</p>