<p>
    Your task is to indicate whether each image is "old" or "new".  You will also be asked to rate how confident you are in each response
    on a scale of 1 to 4 with 1 being "Not very confident" and 4 being "Very confident". 
</p>
<p>
    <ul>
        <li>If an image is OLD, please press the RIGHT ARROW key.</li>
        <li>If an image is NEW, please press the LEFT ARROW key.</li>
        <li>Please use the respective 1-4 number keys at the TOP of your keyboard for the confidence ratings.</li>
    </ul>
</p>
<p>
    This session is mostly self-paced.  The next image will automatically be presented after the confidence rating is provided.
    Please pay attention and answer as accurately as possible.    
</p>