<a href="mailto:emily.madden@york.ac.uk">emily.madden@york.ac.uk</a>@* 

Don't copy this title to other files. Instead, re-use this in other files, with this syntax:

@await Html.PartialAsync("~/Views/Shared/TroubleshooterEmailLink.cshtml")

*@