@model ParticipantNotEnrolledViewModel
@{
    ViewData["Title"] = "Not Enrolled";
}

<div>
    <p>Oops!  It looks like you are using a Participant ID that does not exist yet.  Please check the ID and try again.<br/>
    <br/>
    If you feel that you have reached this message by mistake, please contact the researcher at <a href="mailto:evm517@york.ac.uk">evm517@york.ac.uk</a></p>
</div>
<div>
    Participant ID Not Found: @Model.ParticipantID
</div>