@model TestEndedViewModel
@{
    ViewData["Title"] = "Test End";
}

@await Html.PartialAsync("~/Views/Home/LogoMasthead.cshtml")
<br/>
<div class="text-align: left">
    This ends the TEST Phase.
    <br/>
    <br/>
<div>@await Html.PartialAsync($"Ended{Model.TestName}")</div>