@model TestEndedViewModel
@{
    ViewData["Title"] = "Test End";
}

@await Html.PartialAsync("~/Views/Shared/LogoMasthead.cshtml")
<br/>
<div class="questionsOrientationContainer">
    <p>This ends the TEST Phase.</p>
</div>
<div>@await Html.PartialAsync($"Ended{Model.TestName}")</div>