@model TestEndedViewModel
<div>
    <p>Thank you for completing the final session of the experiment.</p>
    <p>PREPARE_FOR_SLEEP_QUESTIONAIRES_PLACEHOLDER</p>
    <form action="@Url.Action("Index", "PSQI")" method="POST">
      <input type="hidden" name="participantID" value="@Model.ParticipantID" />
      @await Html.PartialAsync("~/Views/Shared/ActionBar.cshtml", new ActionBarViewModel("Next"))
    </form>
</div>