@model TestEndedViewModel
<div>
    <p>Thank you for completing the second session of the experiment.<br/>
    <br/>
    Your next test session will be 1 week from now.  You will receive a reminder email with a link to continue the experiment.
    You will need your Participant ID to continue to the next phase of the experiment.
    Please be aware that you must wait 1 week before completing the next session.<br/>
    <br/>
    Contact the researcher at <a href="mailto:evm517@york.ac.uk">evm517@york.ac.uk</a> if you have any further questions.</p>
</div>