@model TestEndedViewModel
<div>
    <p>Thank you for completing the first session of the experiment.<br/>
    <br/>
    Your next test session will be 24 hours from now.  You will receive a reminder email with a link to continue the experiment.
    You will need your Participant ID to continue to the next phase of the experiment.
    Please be aware that you must wait 24 hours before completing the next session.<br/>
    <br/>
    Contact the researcher at @await Html.PartialAsync("~/Views/Shared/ResearcherEmailLink.cshtml") if you have any further questions.</p>
</div>