@model TestEndedViewModel
<div>
    <p>Thank you for completing the second session of the experiment.<br/>
    <br/>
    Your next test session will be @Model.TestWaitDescriptionFollowup from now.  You will receive a reminder email with a link to continue the experiment.
    You will need your Participant ID to continue to the next phase of the experiment.
    Please be aware that you must wait @Model.TestWaitDescriptionFollowup before completing the next session.<br/>
    <br/>
    Contact the researcher at evm517@york.ac.uk if you have any further questions.</p>
</div>