@model TestNotReadyViewModel
@{
    ViewData["Title"] = "Test Not Ready";
}

<div>
<p>It looks like you are trying to access the study outside of the testing hours.  
    Please return to this link at the time designated in your email or contact the researcher if
    you believe this is an error.
</p>
</div>
<div>
    <form action="@Url.Action("Welcome", "Home")" method="POST">
        <input type="hidden" name="participantID" value="@Model.ParticipantID" />
        <div style="text-align: right;">
            <input style="margin-right: 50px;" type="submit" value="GOTO_ORIENTATION_TEXT_PLACEHOLDER"/>
        </div>
    </form>
</div>