@model SDCode.Web.Models.TestWelcomeBackViewModel
@await Html.PartialAsync("~/Views/Home/LogoMasthead.cshtml")
<h1 class="display-4; text-left;">Final TEST Phase</h1><br/>
<div>
    <p>In this session, we will be testing your memory of the images you saw in the STUDY PHASE.
        This testing session will follow the same format as the previous one.</p>
    <p>First, you will be asked to rate your CURRENT sleepiness.  Then, like before, you will see 144 images.</p>
    @await Html.PartialAsync("~/Views/Test/Instructions.cshtml")
    <p>Please enter your Participant ID in the box and press the "Next" button to rate your sleepiness and start the next TEST PHASE.</p>
</div>