@{
    ViewData["Title"] = "Home Page";
}

<div class="text-right">
    <div style="background-color: Darkcyan;">  
        <img src="/img/Logo.png" style="width:200px;height:100px;"/> <!-- https://www.york.ac.uk/staff/external-relations/brand/logo/ -->
    </div>
</div>

<div class="text-align: left">
    <h1 class="display-4; text-center;">Study Phase Finished</h1>
    <br/>
    <p>This completes the STUDY PHASE.</p>
    <br/>
    <p>Next, we will test your memory for some of the images you saw in the STUDY phase.  In this session, you will see 288 images.
        Your task is to indicate whether each image is "old" or "new".  You will also be asked to rate how confident you are in each response
        on a scale of 1 to 4 with 1 being "Not very confident" and 4 being "Very confident". 
        <br/>
        <br/>
        If an image is OLD, please press the RIGHT ARROW key.
        <br/>
        If an image is NEW, please press the LEFT ARROW key.
        <br/>
        Please use the respective 1-4 number keys at the TOP of your keyboard for the confidence ratings.
        <br/>
        <br/>
        This session is mostly self-paced.  The next image will automatically be presented after the confidence rating is provided.
        Please pay attention and answer as accuratley as possible.
    </p>
        <br/>
    <p>Press the Next" button to start to the TEST PHASE.</p>
</div>
</div>
<div id="formDiv">
    <form action="/Encoding/???????????"> 
        <div style="text-align: right;">
            <input style="margin-right: 50px;" type="submit" value="Next"/>
        </div>
    </form>
     </div>