@model EncodingFinishedViewModel
@{
    ViewData["Title"] = "Finished";
}

@await Html.PartialAsync("~/Views/Shared/LogoBanner.cshtml")

<form action="@Url.Action("Welcome", "Test")" method="POST">
    <input type="hidden" name="participantID" value="@Model.ParticipantID" />
    <h1 class="display-4; text-center;">Study Phase Finished</h1>
    <div class="questionsOrientationContainer">
        <p>This completes the STUDY PHASE.</p>
    </div>
    <p>Press the "Next" button to start to the TEST PHASE.</p>
    @await Html.PartialAsync("~/Views/Shared/ActionBar.cshtml", new ActionBarViewModel("Next"))
</form>
