@model EncodingFinishedViewModel
@{
    ViewData["Title"] = "Finished";
}

@await Html.PartialAsync("~/Views/Shared/LogoBanner.cshtml")

<form action="@Url.Action("Welcome", "Test")" method="POST">
    <input type="hidden" name="participantID" value="@Model.ParticipantID" />
    <h1 class="display-4; text-center;">Study Phase Finished</h1>
    <p>This completes the STUDY PHASE.</p>
    <p>Press the "Next" button to start to the TEST PHASE.</p>
    <div style="text-align: right;">
        <input style="margin-right: 50px;" type="submit" value="Next"/>
    </div>
</form>
