@model EncodingImageOutOfBoundsViewModel
@{
    ViewData["Title"] = "Image Out of Bounds";
}

<div class="text-right">
    <div style="background-color: Darkcyan;">  
        <img src="/img/Logo.png" style="width:200px;height:100px;"/> <!-- https://www.york.ac.uk/staff/external-relations/brand/logo/ -->
    </div>
</div>

    <form action="@Url.Action("Index", "ImageCheck")" method="POST">
        <input type="hidden" name="participantID" value="@Model.ParticipantID" />
        <input type="hidden" name="stanford" value="@Model.Stanford" />

    <h1 class="display-4; text-center;">Study Phase Interrupted</h1> @* todo mlh throughout entire codebase and user experience (including browser address bar URLs...), choose "Study" or "Encoding" and use it consistently, removing references to the competing, synonymous jargon *@
    <br/>
    <p>STUDY_PHASE_INTERRUPTED_DUE_TO_IMAGE_OUT_OF_BOUNDS_PLACEHOLDER</p>
    <p>Press the "Next" button to start the STUDY PHASE again.</p>
    <div style="text-align: right;">
        <input style="margin-right: 50px;" type="submit" value="Next"/>
    </div>
    </form>
