@model SDCode.Web.Models.EncodingIndexViewModel
@{
    ViewData["Title"] = "Home Page";
}



<div id="formDiv">
    <form action="/Encoding/????????"> 
        <div style="text-align: right;">
            <input style="margin-right: 50px;" type="submit" value="Next"/>
        </div>
    </form>
</div>