@model SDCode.Web.Models.EncodingIndexViewModel
@{
    ViewData["Title"] = "Home Page";
}
<style>
    .container {
        max-width: 800px;
    }
</style>
<script>
    document.addEventListener("DOMContentLoaded", function(){
        var images = [];
        function preload() {
            for (var i = 0; i < arguments.length; i++) {
                images[i] = new Image();
                images[i].src = preload.arguments[i];
            }
        }

        //-- usage --//
        preload(@Html.Raw(string.Join(",", Model.ImageUrls.Select(x=>$"\"{x}\""))));

        var imageElement = document.getElementById('image');
        var numberElement = document.getElementById('number');
        var imageDisplayDurationInMilliseconds = 3000;
        var plusSignDisplayDurationInMilliseconds = 1500;
        var numberDisplayProbabilityPercentage = 10;
        var numberCheckIntervalInMilliseconds = 100;
        var spacebarDetected = false;
        var numberDisplayThresholdInMilliseconds = 5000;

        var endTheTest = function(reason) {
            alert('Test finished.\n\nReason:\n\n'+reason);
        }

        var showFinishedMessage = function() {
            document.getElementsByTagName('form')[0].submit();
        }

        var imageIndex = 0;
        var showNextImage = function() {
            hideBothImageAndNumber();
            imageUrl = images[imageIndex].src;
            imageElement.src = imageUrl;
            imageElement.style.display = 'block';
            imageIndex = imageIndex + 1;
            var whatToDo = imageIndex === images.length ? showFinishedMessage : showPlusSign;
            //setTimeout(whatToDo, imageDisplayDurationInMilliseconds);
        };

        function getRandomInt(max) {
            return Math.floor(Math.random() * Math.floor(max));
        }

        var showNextNumber = function() {
            hideBothImageAndNumber();
            var randomNumber = getRandomInt(100);
            numberElement.innerText = randomNumber;
            numberElement.style.display = 'block';

            var timeSinceNumberDisplayedInMilliseconds = 0;
            spacebarDetected = false;
            var checkOnTheNumber = function() {
                timeSinceNumberDisplayedInMilliseconds = timeSinceNumberDisplayedInMilliseconds + numberCheckIntervalInMilliseconds;
                if (timeSinceNumberDisplayedInMilliseconds > numberDisplayThresholdInMilliseconds) {
                    endTheTest('Number displayed too long');
                } else if (spacebarDetected) {
                    showPlusSign();
                } else {
                    setTimeout(checkOnTheNumber, numberCheckIntervalInMilliseconds);
                }
            };
            setTimeout(checkOnTheNumber, numberCheckIntervalInMilliseconds);
        };

        var hideBothImageAndNumber = function() {
            imageElement.style.display = 'none';
            numberElement.style.display = 'none';
        }

        var showNextImageOrNumber = function() {
            var randomNumber = getRandomInt(100);
            var shouldShowNumber = randomNumber <= (numberDisplayProbabilityPercentage);
            var whatToDo = shouldShowNumber ? showNextNumber : showNextImage;
            whatToDo();
        };

        document.body.onkeyup = function(e){
            var spacebarWasPressed = e.key == ' ';
            if (spacebarWasPressed) {
                spacebarDetected = true;
            }
        }

        var showPlusSign = function() {
            hideBothImageAndNumber();
            numberElement.innerText = '+';
            numberElement.style.display = 'block';
            var whatToDo = imageIndex === 0 ? showNextImage : showNextImageOrNumber;
            setTimeout(whatToDo, plusSignDisplayDurationInMilliseconds);
        };

        showPlusSign();
    });
</script>
<div style="vertical-align: top; text-align: center;">
    <img id="image" style="display: none; width: 800px; height: 700px;"/>
    <div id="number" style="font-size: 700px; line-height: 600px; display: none; width: 800px; height: 700px;"></div>
</div>


<div id="formDiv">
    <form action="/Encoding/Finished"> 
        <input type="hidden" name="participantID" value="@Model.ParticipantID" />
    </form>
</div>