@model EncodingQuestionsViewModel
@{
    ViewData["Title"] = "Questions";
}

@await Html.PartialAsync("~/Views/Shared/LogoBanner.cshtml")

    <form action="@Url.Action("Finished", "Encoding")" method="POST">
        <input type="hidden" name="participantID" value="@Model.ParticipantID" />

    <h1 class="display-4">Study Phase Questions</h1>
    <br/>
    <p>This completes the STUDY PHASE.</p>
    <div>
        <div>
            <h1 class="display-4">Questions</h1>
            <p>Please explain problem(s) that occurred during the STUDY PHASE.</p>
        </div>
        @if (Model.ShouldQuestionNeglected) {
            <p>
                Why were images neglected? <input type="text" name="neglectedReason" class="longSingleLine" required />
            </p>
        }
        @if (Model.ShouldQuestionObscured) {
            <p>
                Why were images obscured? <input type="text" name="obscuredReason" class="longSingleLine" required />
            </p>
        }
    </div>
    <p>Press the "Next" button to finish to the STUDY PHASE.</p>
    @await Html.PartialAsync("~/Views/Shared/ActionBar.cshtml", new ActionBarViewModel("Next"))
    </form>
