/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

input[type="radio"] {
  margin-left: 20px;
}

/*input:required{
  border: 1px dashed red;
}*/

.firstPageButton {
  vertical-align: middle;
  text-align: center;
}

.firstPageButton div {
  border: 5px dashed black;
  margin: 50px;
  padding: 50px;
  cursor: pointer;
  font-size: xx-large;
}

.longSingleLine {
  width: 300px;
}

.testBox {
  display: table;
  width: 800px;
  height: 700px;
}

.testBox > div {
  display: table-cell;
  vertical-align: middle;
}

.logoContainer {
  margin-bottom: 10px;
  background-color: #00627d; /* https://www.york.ac.uk/staff/external-relations/brand/colours/ https://www.york.ac.uk/media/staffhome/marketing/brand/visualidentity/colours/uoy-colour-values-guide-130320.pdf */
  padding: 5px;
}

.logoContainer img {
  margin: 0 10px 0 10px;
}

.keysRow > div {
  font-weight: bold;
  text-align: center;
}

.keysContainer {
  margin-bottom: 20px;
  word-spacing: 100vw; /* https://stackoverflow.com/a/23889196/116895 */
}

#mustMustNotContainer {
  margin-left: 25px;
}

.questionContainer {
  margin-top: 20px;
  margin-bottom: 5px;
}

.subQuestionContainer {
  margin-left: 20px;
}

.questionsOrientationContainer {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: gainsboro;
}

.questionsOrientationContainer p:last-of-type {
  margin-bottom: 0;
}

.actionBar {
  margin-top: 5px;
  padding: 5px 50px 5px 5px;
  text-align: right;
  background-color: gainsboro;
}

.deviceTooSmallContainer {
  text-align: center;
  display: none;
}

.deviceTooSmallContainer > div {
  font-weight: bold;
}

@media only screen and (max-device-width: 1024px) {
  .container {
    display: none;
  }
  .deviceTooSmallContainer {
    display: block;
  }
}