@{
    ViewData["Title"] = "Holiday Add Page";
}

<div>
    @Html.ActionLink("Add Another", "Index", "Holiday")
</div>

<div style="margin-top: 20px;">
    @Html.ActionLink("Download CSV", "Download", "Holiday")
</div>