@* todo mlh remove
@{
    ViewData["Title"] = "Holiday Index Page";
}

<div id="formDiv">
    <form action="/Holiday/Add">
        <div>Name: <input type="text" name="name" /></div>
        <div>Month Number: <input type="text" name="monthNumber" /></div>
        <div>Day Number: <input type="text" name="dayNumber" /></div>
        <input type="submit" value="Add"/>
    </form>
</div> *@